<h2 class="edit m-2">Edit account details</h2>

<div class="signup-form-container"
     data-controller="signup-form"
     data-action="touchstart->signup-form#startSwipe touchend->signup-form#endSwipe">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-slides">
      <div class="form-slide active" data-signup-form-target="slide">
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :zip_code,
                      required: false,
                      label: "Zip Code" %>
          <%= f.input :street_name,
                      required: false,
                      label: "Street" %>
          <%= f.input :house_number,
                      required: false,
                      label: "House/Unit number" %>
          <%= f.input :avatar,
                      as: :file,
                      required: false,
                      label: "Profile picture" %>
        </div>
      </div>

      <div class="form-slide" data-signup-form-target="slide">
        <div class="form-inputs">
          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>

          <div class="form-actions">
            <%= f.button :submit, "Update", class: "btn btn-primary" %>
          </div>

        </div>
      </div>

    </div>

    <div class="indicators">
      <span class="indicator active" data-action="click->carousel-form#goToSlide" data-slide="0"></span>
      <span class="indicator" data-action="click->carousel-form#goToSlide" data-slide="1"></span>
    </div>

  <% end %>
</div>

<div class="mt-5 mx-2 edit-user-bottom-container">

  <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></div>

  <%#= link_to "Back", :back %>
  <div class="mt-3">
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left" style="color: #0E0000;"></i> BACK
    <% end %>
  </div>
</div>
