<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name,
                required: true %>
    <%= f.input :description,
                required: true %>
    <%= f.association :category %>
    <%= f.input :photo,
                as: :file,
                required: false,
                label: "Profile picture" %>
    <%= f.input :price,
                required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
