<%= link_to task, class: "task-link" do %>
  <div class="task-container">
    <div class="task-card-left">
      <ul>
        <li class="task-name"><%= task.name %></li>
        <li><i class="fa-solid fa-location-dot" style="color: #757070;"></i> <%= task.location %></li>
        <li><%= task.start_time.nil? ? 'immediately' : Date.parse(task.start_time).strftime('%d %B %Y') %></li>

        <li class="task-status"><%= task.task_status == "available" ? "open" : "" %></li>
      </ul>
    </div>

    <div class="task-card-right">
      <% if task.user.avatar.attached? %>
        <%= cl_image_tag task.user.avatar.key, class: "avatar" %>
      <% else %>
        <%= image_tag 'default-profile.jpg', class: "avatar" %>
      <% end %>
      <p><%= task.price.round(0) %> IDR</p>
    </div>
  </div>
<% end %>
