<!-- my_tasks.html.erb -->

<div class="top-bar-container">
  <div class="left">
    <%= link_to user_path(current_user) do %>
      <i class="fa-solid fa-arrow-left" style="color: #0E0000;"></i>
    <% end %>
  </div>
  <div class="right">
    <h4>Task management</h4>
  </div>
</div>

<div class="my-tasks-container">

  <% if @tasks.any? %>
    <h3 class="mb-3">My active tasks</h3>
      <% @tasks.each do |task| %>
        <% if task.user == current_user && task.task_status == "available" %>
          <p><%= link_to task.name, task_path(task) %></p>
        <% end %>
      <% end %>
      <hr>
    <% else %>
      <h3>My active tasks</h3>
      <p>You don't have any tasks posted...</p>
      <hr>
  <% end %>



  <% if @started_tasks.any? && @started_tasks.pluck(:requested_by_id).include?(current_user.id) %>
    <h3 class="mb-3">Tasks where I have applied for</h3>
    <% @started_tasks.each do |task| %>
      <% if task.requested_by_id == current_user.id %>
        <h4><%= task.name %></h4>
        <p>Posted by: <%= task.user.first_name %> <%= task.user.last_name %></p>
        <p>Status: <%= task.task_status %></p>
      <% end %>
    <% end %>
    <hr>
  <% end %>

  <%# Requested Tasks %>
  <% if @requested_tasks.any? %>
    <h3 class="mb-3">Requested Tasks</h3>
    <% @requested_tasks.each do |task| %>
      <% if current_user == task.user && task.task_status == "requested" %>
        <h4><%= task.name %></h4>
        <% if task.requested_by %>
          <p>Requested By: <%= link_to "#{task.requested_by.first_name} #{task.requested_by.last_name}", user_path(task.requested_by) %></p>
          <% if current_user == task.user %>
            <div class="button-container">
              <%= button_to "ACCEPT", accept_request_task_path(task), method: :patch %>
              <%= button_to "REJECT", reject_request_task_path(task), method: :patch %>
            </div>
          <% end %>
        <% else %>
          <p>Requested By: N/A</p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>





  <% if @accepted_tasks.any? %>
    <hr>
    <h3 class="mb-3">Accepted Tasks</h3>
    <% @accepted_tasks.each do |accepted_task| %>
      <% if accepted_task.task_status == "in_work" %>
        <p><%= accepted_task.name %></p>
        <% if current_user == accepted_task.user %>
          <%= button_to "Done", done_task_task_path(accepted_task), method: :patch %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

</div>
