This is the my tasks page

<!-- my_tasks.html.erb -->

<h1>My Tasks</h1>

<%= link_to "Add new task", new_task_path %>

<% if @tasks.any? %>
  <hr>
<h3>Tasks that I have posted</h3>
  <% @tasks.each do |task| %>
    <p><%= link_to task.name, task_path(task) %></p>
  <% end %>
<% end %>

<% if @started_tasks.any? && @started_tasks.pluck(:requested_by_id).include?(current_user.id) %>
  <hr>
  <h3>Tasks where I have applied for</h3>
  <% @started_tasks.each do |task| %>
    <% if task.requested_by_id == current_user.id %>
      <p><%= task.name %></p>
      <p>Status: <%= task.task_status %></p>
    <% end %>
  <% end %>
<% end %>



<% if @requested_tasks.any? %>
  <hr>
  <h2>Requested Tasks</h2>
  <% @requested_tasks.each do |task| %>
    <% if current_user == task.user && task.task_status == "requested" %>
      <p><%= task.name %></p>
      <% if task.requested_by %>
        <p>Requested By: <%= link_to "#{task.requested_by.first_name} #{task.requested_by.last_name}", user_path(task.requested_by) %></p>
        <% if current_user == task.user %>
          <%= button_to "Accept", accept_request_task_path(task), method: :patch %>
          <%= button_to "Reject", reject_request_task_path(task), method: :patch %>
        <% end %>
      <% else %>
        <p>Requested By: N/A</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @accepted_tasks.any? %>
  <hr>
  <h2>Accepted Tasks</h2>
  <% @accepted_tasks.each do |accepted_task| %>
    <% if accepted_task.task_status == "in_work" %>
      <p><%= accepted_task.name %></p>
      <% if current_user == accepted_task.user %>
        <%= button_to "Done", done_task_task_path(accepted_task), method: :patch %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @done_tasks.any? %>
  <hr>
  <h2>Task History</h2>
  <% @done_tasks.each do |task| %>
    <p><%= task.name %></p>
    <p>Status: <%= task.task_status %></p>
    <p><%= task.price %> IDR</p>
  <% end %>
<% end %>
