<!-- app/views/tasks/show.html.erb -->
<%# Top bar container for task show page %>
<div class="top-bar-container">
  <div class="left">
    <%= link_to tasks_path do %>
      <i class="fa-solid fa-arrow-left" style="color: #0E0000;"></i>
    <% end %>
  </div>
  <div class="right">
    <h4>Task details</h4>
  </div>
</div>

<p>Status: <%= @task_status %></p>

<%# Task details container %>
<div class="show-task-container">
  <h1><%= @task.name %></h1>

  <div class="details-container">
    <div class="left">
      <ul>
        <li>
          <% if @task.user.avatar.attached? %>
            <%= cl_image_tag @task.user.avatar.key %>
          <% else %>
            <%= image_tag 'default-profile.jpg' %>
          <% end %>
        </li>
        <li><i class="fa-solid fa-location-dot" style="color: #0E0000;"></i></li>
        <li><i class="fa-regular fa-calendar" style="color: #0E0000;"></i></li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li>
          <p>Posted by:</p>
          <p class="detail"><%= @task.user.first_name %></p>
        </li>
        <li>
          <p>Location:</p>
          <p class="detail"><%= @task.location %></p>
        </li>
        <li>
          <p>To be done:</p>
          <% if @task.start_time.present? %>
            <p class="detail"><%= @task.start_time.to_date.strftime("%d.%m.%Y") %></p>
          <% else %>
            <p class="detail">immediately</p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

</div>

<%# Task price card %>
<div class="price-card">
  <p>TASK PRICE</p>
  <h1><%= @task.price.round(0) %> IDR</h1>
  <%# Only show the "Start Task" button to the appropriate users %>
  <% unless @is_own_task %>
  <% if @task_status == "available" %>
    <%= button_to "SEND REQUEST", start_task_task_path(@task), method: :post %>
  <% elsif @task_status == "pending" %>
    <p>Request has been sent.</p>
  <% end %>
<% end %>
</div>

<%# Task description %>
<div class="details">
  <p class="detail-heading">DETAILS</p>
  <p>- <%= @task.description %></p>
  <p>- I need a worker
    <% if @task.start_time.present? %>
      at <%= @task.start_time.to_date.strftime("%d.%m.%Y") %>
    <% else %>
      immediately
    <% end %>
  </p>
</div>






<div class="task-picture-container">
  <p>Task picture:</p>
  <% if @task.photo.attached? %>
    <%= cl_image_tag @task.photo.key, class: "avatar" %>
  <% else %>
    <%= image_tag 'default-task.webp', class: "avatar" %>
  <% end %>
</div>

<%# Only show the "Start Task" button to the appropriate users %>
<% unless @is_own_task %>
  <% if @task_status == "available" %>
    <%= button_to "Start Task", start_task_task_path(@task), method: :post %>
  <% elsif @task_status == "pending" %>
    <p>Request has been sent.</p>
  <% end %>
<% end %>

<%# Add this button to create a new chatroom %>
<% if @task_status == "available" && @user_can_create_chatroom && !@is_own_task %>
  <%= button_to "Create Chatroom", create_chatroom_task_path(@task), method: :post %>
<% end %>
