<p>#user # show.html.erb</p>

<h1>This is the profile page</h1>

<h3><%= @user.first_name %></h3>
<h3><%= @user.last_name %></h3>
<h3><%= @user.email %></h3>
<%= link_to "Edit Profile", edit_user_registration_path %>
<hr>
<hr>


<h3>Task that i have posted</h3>
<% @created_tasks.each do |task| %>
  <p><%= task.name %></p>
<% end %>

<h2>Requested Tasks</h2>
<% @requested_tasks.each do |task| %>
  <p><%= task.name %></p>
  <% if task.task_status == "requested" %>
    <% if task.requested_by %>
      <p>Requested By: <%= task.requested_by.first_name %> <%= task.requested_by.last_name %></p>
    <% else %>
      <p>Requested By: N/A</p>
    <% end %>
  <% end %>
<% end %>

<h2>Accepted Tasks</h2>
<% @accepted_tasks.each do |task| %>
  <p><%= task.name %></p>
<% end %>
