<%# app/views/users/show.html.erb %>

<%# User top conatiner %>
<div class="user-top-container">
  <div class="user-overview-container">
    <div class="profile-picture-container">
      <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key, class: "avatar" %>
      <% else %>
        <%= image_tag 'default-profile.jpeg', class: "avatar" %>
      <% end %>
    </div>
    <div class="user-profile-info">
      <h4><%= @user.first_name %></h4>
      <h4><%= @user.last_name %></h4>
      <% if user_signed_in? && current_user == @user %>
        <%= link_to edit_user_registration_path do %>
          <i class="fa-regular fa-pen-to-square" style="color: #0E0000;"></i>
        <% end %>
        <p><%= @user.email %></p>
        <p><%= @user.zip_code %></p>
        <p><%= @user.street_name %> <%= @user.house_number %></p>
      <% end %>
    </div>
    </div>
    <div class="style-element-container">
    </div>
</div>

<%# User accout overview %>
<div class="profile-account-overview">
  <% if user_signed_in? && current_user == @user %>
    <p>ACCOUNT OVERVIEW</p>
    <ul>
      <%= link_to my_tasks_tasks_path do %>
        <li>
          <div class="left-content">
            <i class="fa-solid fa-list-check" style="color: #0E0000;"></i>
            <p>MANAGE MY TASKS</p>
          </div>
            <i class="fa-solid fa-angle-right" style="color: #0E0000;"></i>
        </li>
      <% end %>
      <%= link_to '#' do %>
        <li>
          <div class="left-content">
            <i class="fa-solid fa-clock-rotate-left" style="color: #0E0000"></i>
            <p>TASK HISTORY</p>
          </div>
          <i class="fa-solid fa-angle-right" style="color: #0E0000;"></i>
        </li>
      <% end %>
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
        <li>
          <div class="left-content">
            <i class="fa-solid fa-lock" style="color: #0E0000;"></i>
            <p>LOG OUT</p>
          </div>
            <i class="fa-solid fa-angle-right" style="color: #0E0000;"></i>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%# If the current user is on a different user's profile page, show the tasks of that user that are currently available. %>
<div class="container">
  <% if user_signed_in? && current_user != @user %>
    <% if @user.tasks.any? %>
      <h3 class="text-center"><%= @user.first_name.upcase %>'S ACTIVE TASKS</h3>
      <ul>
        <% @user.tasks.each do |task| %>
          <% if task.task_status == "available" && task.user != current_user %>
            <%= link_to task do %>
              <%= render task %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <p><%= @user.first_name %> has no active tasks posted at the moment.</p>
    <% end %>
  <% end %>
</div>



<%# This checks that only the users with the email simon@gmail.com can add a new category %>
<% if user_signed_in? && current_user.email == "simon@gmail.com" && current_user == @user %>
  <%= link_to "Add new category", new_category_path %>
<% end %>
