<p>#user # show.html.erb</p>

<h1>This is the profile page</h1>

<h3><%= @user.first_name %></h3>
<h3><%= @user.last_name %></h3>
<h3><%= @user.email %></h3>
<%= link_to "Edit Profile", edit_user_registration_path %>

<%# This shows tasks that I have created %>

<% if @created_tasks.any? %>
  <hr>
  <h3>Tasks that I have posted</h3>
  <% @created_tasks.each do |task| %>
    <p><%= task.name %></p>
  <% end %>
<% end %>


<%# This displays tasks where I have clicked on "Start Task" button %>
<% if @task %>
  <hr>
  <% if @started_tasks.any? %>
    <h3>Tasks where I have applied for</h3>
    <% @started_tasks.each do |task| %>
      <p><%= task.name %></p>
      <p>Status: <%= task.task_status %></p>
    <% end %>
  <% end %>
<% end %>


<%# This shows in the User profile page if there are any tasks that are requested by other users. %>
<% if @requested_tasks.any? %>
 <hr>
  <h2>Requested Tasks</h2>
  <% @requested_tasks.each do |task| %>
    <p><%= task.name %></p>
    <% if task.task_status == "requested" %>
      <% if task.requested_by %>
        <p>Requested By: <%= task.requested_by.first_name %> <%= task.requested_by.last_name %></p>
          <% if current_user == task.user %>
            <%= button_to "Accept", accept_request_task_path(task), method: :patch %>
            <%= button_to "Reject", reject_recuest_task_path(task), method: :patch %>
          <% end %>
      <% else %>
        <p>Requested By: N/A</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>


<%# This shows in the User profile page if there are any tasks that are accepted by the user. %>
<% if @accepted_tasks.any? %>
 <hr>
  <h2>Accepted Tasks</h2>
  <% @accepted_tasks.each do |task| %>
    <% if task.task_status == "in_work" %>
      <p><%= task.name %></p>
      <% if current_user == task.user %>
        <%= button_to "Done", task_path(task), method: :patch %>
      <% end %>
    <% end %>
  <% end %>
<% end %>


<%# This shows in the User profile page if there are any tasks that are done by the user or
tasks that the user has requested and are done. %>
<% if @done_tasks.any? %>
 <hr>
  <h2>Task History</h2>
  <% @done_tasks.each do |task| %>
    <p><%= task.name %></p>
    <p>Status: <%= task.task_status %></p>
    <p><%= task.price %> IDR</p>
  <% end %>
<% end %>
