<%# Mobile Navbar %>
<% if user_signed_in? %>
  <div class="mobile-nav-container">
    <%= link_to root_path, class: "navbar-item-container" do %>
      <div class="item">
        <i class="fa-regular fa-circle-check" style="color: #000000;"></i>
        <p>Get it done</p>
      </div>
    <% end %>
    <%= link_to categories_path, class: "navbar-item-container" do %>
      <div class="item">
        <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
        <p>Browse</p>
      </div>
    <% end %>
    <%= link_to "#", class: "navbar-item-container" do %>
      <div class="item">
        <i class="fa-regular fa-rectangle-list" style="color: #000000;"></i>
        <p>My tasks</p>
      </div>
    <% end %>
    <%= link_to "#", class: "navbar-item-container" do %>
      <div class="item">
        <i class="fa-regular fa-message" style="color: #000000;"></i>
        <p>Messages</p>
      </div>
    <% end %>
    <%= link_to "#", class: "navbar-item-container" do %>
      <div class="item">
        <i class="fa-regular fa-user" style="color: #000000;"></i>
        <p>Account</p>
      </div>
    <% end %>
  </div>
<% end %>
