<%# Mobile Navbar %>
<% if user_signed_in? %>
  <div class="mobile-nav-container">
    <%= link_to root_path, class: "navbar-item-container" do %>
      <div class="item">
        <%= image_tag("home-icon.png", alt: "home icon") %>
        <p>Home</p>
      </div>
    <% end %>
    <%= link_to tasks_path, class: "navbar-item-container" do %>
      <div class="item">
        <%= image_tag("search-icon.png", alt: "search icon") %>
        <p>Search</p>
      </div>
    <% end %>
    <%= link_to my_tasks_tasks_path, class: "navbar-item-container larger-image" do %>
      <div class="item">
        <%= image_tag("plus-icon.png", alt: "plus icon") %>
        <p>Create</p>
      </div>
    <% end %>
    <%= link_to chatrooms_path, class: "navbar-item-container" do %>
      <div class="item">
        <%= image_tag("message-icon.png", alt: "message icon") %>
        <p>Messages</p>
      </div>
    <% end %>
    <%= link_to user_path(current_user), class: "navbar-item-container" do %>
      <div class="item">
        <%= image_tag("profile-icon.png", alt: "profile icon") %>
        <p>Profile</p>
      </div>
    <% end %>
  </div>
<% end %>
