<%# Categories Index Page %>

<%# This renders the top container %>
<div class="top-container">
  <p style="color: green"><%= notice %></p>

  <div class="text-center">
    <h1 class="doit mt-4">doit.</h1>
  </div>

  <div class="text-center">
    <h1 class="explore">explore</h1>
  </div>

</div>

<%# This renders the categories in a grid %>
<div class="grid-container">
  <% @categories.each do |category| %>
    <div class="grid-item">
      <%= link_to category, class: "category-link" do %>
        <% if category.photo.attached? %>
          <%= cl_image_tag(category.photo, class: "category-image") %>
        <% else %>
          <%= image_tag "default-category.jpeg", alt: "category-default-image", class: "category-image" %>
        <% end %>
        <h3><%= category.name %></h3>
      <% end %>
    </div>
  <% end %>
</div>
