<p style="color: green"><%= notice %></p>

<%= link_to "Back to categories", categories_path %>

<%= render @category %>


<%# This renders only the tasks that are available and not from the
user that is currently logged in %>
<h2>These are the tasks for the category education</h2>
<div class="container">
  <% @tasks.each do |task| %>
    <% if task.task_status == "available" && task.user != current_user %>
      <%= render task %>
    <% end %>
  <% end %>
</div>



<%# Savety check that only the user with the email 'simon@gmail.com'
can edit and delete the category %>

<% if user_signed_in? && current_user.email == 'simon@gmail.com' %>
  <div class="container">
    <%= link_to "Edit this category", edit_category_path(@category) %> |
    <%= button_to "Destroy this category", @category, method: :delete %>
  </div>
<% end %>
