<p style="color: green"><%= notice %></p>

<%= render @category %>

<h2>This are the tasks for the category education</h2>
<ul>
  <% @tasks.each do |task| %>
    <li><%= task.name %></li>
    <li><%= task.description %></li>
    <li>Posted by: <%= task.user.first_name %> <%= task.user.last_name %></li>
    <hr>
  <% end %>
</ul>


<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", root_path %>



  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
